<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywb.scrawler.dao.StockDao">

    <select id="selectStock" resultType="com.ywb.scrawler.model.Stock">
        select *
        from stock
        where id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ywb.scrawler.model.Stock">
        insert into stock(name, cover, sku, size_US, size_EU, price_nice, price_stockX, calculated_nice_price_rmb,
                          calculated_stockX_price_rmb, profit, profit_rate, update_time, create_time)
        values(#{name}, #{cover}, #{sku}, #{sizeUS}, #{sizeEU}, #{priceNice}, #{priceStockX}, #{calculatedNicePriceRmb},
               #{calculatedStockXPriceRmb}, #{profit}, #{profitRate}, #{updateTime}, #{createTime})
    </insert>


</mapper>